body {
	margin: 0px;
	padding: 0px;
	font-family: open sans, "Helvetica Neue", Helvetica, sans-serif;	
	 }
	 
a { 
	text-decoration: none;
	color:#227eb3;
}

a:hover { 
	color:#43b0ef;
}

ul { padding: 0px; margin:0px; }

.logo { 
    width: auto;
	padding: 5px 30px 15px 30px;
}

.preu { 
    line-height: 70px;
    font-size: 26px; 
	}

.clear { clear:both; }

.button-mes { padding:10px; padding: 10px; border-radius: 10px; background:#C00; font-weight:bold; color: #fff; }

.button-mes:hover { background: #F21C1C; color: #fff; }

#content { margin-top: 8px; }

table {
	font-family: open sans, "Helvetica Neue", Helvetica, sans-serif;
   	width: 50%;
}

th {
	background: Blue;
  	color: white;
}

.message {
	background: Red !important;  	
}

td,th{
	border: 1px solid gray;
    width: 25%;
    text-align: left;
    padding: 5px 10px;
}

.linkbutton {    
	font-family: open sans, verdana, arial, sans-serif; 
   	font-size: 10pt; 
   	font-weight: bold; 
   	padding: 4px; 
   	background-color: #25A6E1; 
   	color: #FFFFFF; 
   	text-decoration: none; 
}
 
.linkbutton:link, 
.linkbutton:visited { 
   	border-top: 1px solid #cccccc; 
   	border-bottom: 2px solid #666666; 
   	border-left: 1px solid #cccccc; 
   	border-right: 2px solid #666666; 
}
 
.linkbutton:hover { 
   	border-bottom: 1px solid #cccccc; 
   	border-top: 2px solid #666666; 
   	border-right: 1px solid #cccccc; 
   	border-left: 2px solid #666666; 
}

.esquerra{
	text-align: left;
}

#page{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    padding: 10px;	 
}

#login_window{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding: 6px;
    font-size: 13px;
	text-align: right;
}

#login_window a { color: #bfbfbf; }
#login_window a:hover { color: #fff; }

.product_line{
	margin-bottom: 14px;
    padding: 12px 18px;
    border: 4px solid #C4C4C4;
    display: block;
}

.product_line:hover { 
    border: 4px solid #2f2f2f;
}

.product_line h3 { max-width: 180px; }


.product_line_left{
	float: left;
	padding-left: 12px;
}

.product_line_right{
	float: right;
	padding-right: 12px;
}

.product_line_image{
	
}

.product_line_description{
	
}

#columna_esquerra{
   display: block;
   float: left;
   position: relative;
   width: 20%;
   height: 100%;
}

#columna_centre{
	display: inline-block;
	float: right;
	width: 78%;
	
}

#header_buscador{
background: #2F2F2F;
color: white;
margin: 0px 0px 0px 0px;
line-height: 30px;
}

#barra_buscador{
background: #D9D9D9;
height: 90%;
border-bottom: 30px;
}

#menu_superior ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f2f2f;
	width: 100%;
}

#menu_superior li {
    float: left;
     background-color: #2F2F2F;
     width: 100px;
}

#menu_superior li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#menu_superior li a:hover {
    background-color: #FF0000;
}

#footer {
    background-color: #D9D9D9;
    padding: 4px 0;
    text-align: center;
    font-size: 12px;
    float: left;
    width: 100%;
}

#product_count {
	background-color: #D9D9D9;
	padding: 11px;
	margin-bottom: 15px;
}

.product_line_description {
	float:right; padding:10px;
 }

/* RESPONSIVE  */

@media (max-width: 760px) {

	#columna_esquerra, #columna_centre { width: 100%; }
	.logo { text-align: center; padding: 5px; width: 100%; max-width: 345px; }
	.telf { text-align: center; padding: 5px; width: 100%; height: auto; padding-top: 0px !important; max-width: 386px; float: left !important;  }

}

@media (max-width: 540px) {
	
	.product_line_description { float: none !important; }
			
}


@media (max-width: 389px) {
	
	#menu_superior li { width: 100%; }
	
}